/********************************************************************
 PAGE STYLE
 
 Styles that are to be applied to the main page content of the 
 website
 *******************************************************************/
 
body, html {
    font-size: 16px;
    font-family: "Segoe UI",Tahoma,Geneva,Verdana,sans-serif;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: lightgray;
    margin: 0;
}

#content_area {
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    margin-left: auto;
    margin-right: auto;
    padding: 0 12px 12px 12px;
    margin-bottom: 32px;
    overflow: hidden;
    margin-top: 0;
    width: 85%;
    height: auto;
}

#sidebar {
  width: 100%;
}

#map {
    width: 100% !important;
    min-width: 320px;
    min-height: 480px;
}

.control {
    float: left;
    clear: left;
}

#filters {
    padding: 0;
}

#introduction {
    text-align: center;
}

.open:after {
    content: "\2227";
    font-size: 12px;
}

#expandButton {
    color: #777;
    height: 100%;
    width: 44px;
    position: relative;
    top: 0;
    float: right;
}

.close:after {
    content: "\2228";
    font-size: 12px;
}

#closeButton { 
    height: 0;
    width: 0;
    padding: 0;
}
    
#menuButton {
    height: 0;
    width: 0;
    padding: 0;
}

#aboutText {
    visibility: hidden;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    -o-transition: visibility .5s;
    -ms-transition: visibility .5s;
    -webkit-transition: visibility .5s;
    -moz-transition: visibility .5s;
    transition: visibility .5s;
    overflow-y: auto;
}

/********************************************************************
 COMMON BASE STYLES
 
 Styles that are common for all tags of a given type are defined in
 this area. This does not apply to the body, header, and footer 
 elements whos styles are defined in other sections.
 *******************************************************************/
 
button {
    outline: none;
    border: none;
}

fieldset {
    margin: 20px;
}

#legend {
    background: white;
    padding: 4px;
}

#legend li {
    list-style: none;
    padding: 0;
    margin: 0;
}

#legend img {
    height: 24px;
}

/********************************************************************
 HEADER/FOOTER STYLES
 
 Styles for the header and footer of the page.
 *******************************************************************/
 
#infoFooter {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 22px;
    -webkit-transition: height .5s, background-color .5s;
    -moz-transition: height .5s, background-color .5s;
    transition: height .5s, background-color .5s;
    background-color: rgba(70,70,70,1);
    color: white;
}

header nav li {
    display: inline-block;
    list-style: outside none none;
    padding: 20px;
}

header nav a {
    color: white;
    padding: 20px;
    text-decoration: none;
}

header nav ul {
    padding: 0;
    margin: 0;
    display: inline-block;
    vertical-align: bottom;
}

header, footer {
    background-color: rgba(70,70,70,1);
    text-align: center;
    margin: 0;
}

/********************************************************************
 MEDIA STYLES
 
 Styles for different screen sizes and media types. These are styes
 that will overwrite blogally defined styles in other sections and
 serve as a means of making hte page more responsive.
 *******************************************************************/

/* Mobile devices */
@media screen and (max-width: 720px) {
    #sidebar {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        background-color: rgba(0,0,0, 0.7);
        color: white;
        overflow-x: hidden;
        transition: 0.5s; 
    }
    
    #filters {
        background-color: rgba(0,0,0, 0.6);
        padding: 20px;
    }
    
    #menuButton {
        height: 32px;
        width: 100%;
        color: #777;
    }

    #menuButton:after {
        content: "\276f";
        font-size: 14px;
    }
    
    #closeButton:after {
        content: "\2573";
        font-size: 14px;
    }
    
    #closeButton { 
        height: 48px;
        width: 100%;
        color: #777;
    }
    
    #content_area {
        width: 90%;
        overflow-x: hidden;
    }
    
    #map {
        width: 100%;
        left:0 !important;
        top:0 !important;
    }
}

/* Computer */
@media screen and (min-width: 1240px) {
    #sidebar {
        float: left;
        height: 100%;
        max-width: 25%;
    }
    
    #filters h1 {
        margin-top: 0;
    }
    
    #closeButton { 
        height: 0;
        width: 0;
        padding: 0;
    }
    
    #menuButton {
        height: 0;
        width: 0;
        padding: 0;
    }
    
    #map {
        float: left !important;
        margin-bottom: 100px;
        height: 100%;
        width: 75% !important;
    }
    #content_area {
        overflow: hidden;
    }
}